body {
	font-family: 'myriad pro', sans-serif;
	font-size: 20px;
	border: 0;
	background-color: #fafafa;
}

app {
	display: block;
	max-width: 400px;
	margin: 5% auto;
}

input[type='text'] {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 7px;
  font-size: 16px;
  border-radius: 5px;
}
