demo2
  hr
  h3 Using 'this' object


  div.code
    a(href="https://github.com/k-kuwahara/k-kuwahara.github.io/blob/master/demo/riot/tips/data-binding/demo1.jade" target="_blank") Code

  div
    input(type='text' name='target' placeholder='type text' oninput="{ input }")

  p text: { text }

  script.
    this.text = ''

    input(e) {
      this.text = e.target.value || ''
    }

