body {
	font-family: 'myriad pro', Josefin sans;
	font-size: 20px;
	border: 0;
	background-color: #fafafa;
}

app {
	display: block;
	max-width: 70%;
	margin: 5% auto;
}

app h2 {
    text-align: center;
}

app table thead {
    background-color: #eee;
}