body {
	font-family: 'myriad pro', sans-serif;
	font-size: 20px;
	border: 0;
	background-color: #fafafa;
}

app {
	display: block;
	max-width: 80%;
	margin: 5% auto;
}

div {
	float: left;
}
div#container {
	width: 100%;
}
div#select {
	width: 40%;
    height: 450px;
	padding: 20px;
	border: 1px solid;
    overflow-y: scroll;
}
div#result {
	width: 40%;
	margin-left: 10px;
	padding: 20px;
	border: 1px dotted;
	background-color: #fefefe;
}

li {
	list-style: none;
}
li:hover {
	background-color: #e9dfe5;
	cursor: pointer;
}
li.bg-on {
	background-color: #c1e4e9;
}
