body.shower.list {
	padding: 80px 0 40px 100px;
}
header p.desc {
	line-height: 1.5;
	color: #fff;
}
h2 {
	line-height: 1.2 !important;
}
h1 {
	margin-bottom: 10px;
	font-weight: bold;
	font: 700 30px/1.5 PT Sans Narrow,sans-serif;
}
h3 {
	margin: 20px 40px;
	font: 700 45px/1.5 PT Sans Narrow,sans-serif;
}
span.red {
	color: #ee827c;
}
span.assert {
	font-weight: bold;
	color: #008080;
}
span.assert-fwn {
	color: #008080;
}
#cover h2 {
	margin: 30px 40px 50px;
	text-align: center;
	font-size: 65px;
}
#cover p {
	text-align:center;
	font-style:italic;
	font-size: 45px;
	line-height: 1.5;
}

ol, ul {
	margin-left: 2em;
}
ol, li {
	font-size: 30px;
}
.slide.center-text .shout {
	font-size: 75px;
}
.slide h3.h-center {
	margin-top: 15%;
}
.slide pre {
	margin-left: 30px;
}
.slide code key {
	color: #b58900;
}
.slide code value {
	color: #2aa198;
}
.slide code comment {
	color: #585a5e;
}
.slide code error {
	color: #ee827c;
}
.slide .expand {
	min-width: 90%;
	min-height: 90%;
}
.slide a {
	text-decoration: none !important;
}
.slide p.f30,
.slide span.f30 {
	font-size: 30px;
}
.slide p.no-mb {
	margin-bottom: 0px;
}
.slide p.mright {
	text-align: right;
}
.slide p.after {
	position: absolute;
	text-align: center;
	font-size: 30px;
	width: 100%;
	left: 0;
	top: 70%;
}
.slide p.fright {
	float: right;
}
.slide img.blur {
	min-height: 100%;
	-webkit-filter: blur(5px) brightness(70%);
	filter: blur(5px) brightness(70%);
}
.slide .white {
	color: #FFF;
}
p.codicil {
	position: absolute;
	right: 50px;
	bottom: 10px;
	font-size: 32px;
}
.mt20 {
	margin-top: 20px;
}