body.shower.list {
	padding: 80px 0 40px 100px;
}
header p.desc {
	line-height: 1.5;
	color: #fff;
}
h2 {
	line-height: 1.2 !important;
}
span.red {
	color: #ee827c;
}
#cover h2 {
	margin:30px 80px 50px;
	text-align:center;
	font-size:70px;
}
#cover p {
	text-align:center;
	font-style:italic;
	font-size: 45px;
	line-height: 1.5;
}

ol {
	margin-left: 2em;
}
.slide.center-text .shout {
	font-size: 75px;
}
.slide.code {
	font-family: PT Mono,monospace,monospace;
	line-height: 2;
}
.slide .expand {
   min-width: 90%;
   min-height: 90%;
}
.slide a {
	text-decoration: none !important;
}
.slide p.after {
	position: absolute;
	text-align: center;
	font-size: 30px;
	width: 100%;
	left: 0;
	top: 70%;
}

p.codicil {
	position: absolute;
	right: 50px;
	bottom: 0;
	font-size: 32px;
}
