body {
  margin: 0;
  padding: 10px;
  height: 500px;
}
ul {
  padding: 5px;
  margin: 0px;
}
li {
  border: 1px solid #EEE;
  background-color: #EEE;
  border-radius: 5px;
  margin-bottom: 5px;
  line-height: 2;
  list-style-type: none;
  text-align: left;
  /* 以下IE対策 */
  -ms-user-select: element; /* IE */
      user-select: element; /* CSS3 */
}
li:hover {
  background-color: #DDD;
}
label {
  display:block;
  cursor:pointer;
}
#container {
  margin-top: 20px;
  margin-left: 50px;
  overflow-y: scroll;
  -webkit-user-select: none; /* Google Chrome, Safari */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE */
          user-select: none; /* CSS3 */
  height: 400px;
  width: 250px;
  border: 1px solid green;
}
#button_box {
  margin-top: 20px;
  margin-left: 70px;
}
.buttons {
  width: 100px;
  font-size: 18px;
}