[layout] h1 {
	font-size: 4em;
	margin: 20px 64px 60px;
}
[layout] h2 {
	margin: 0 100px;
}
code {
	font-size: 40px;
}
span {
	line-height: 1.8;
}
span.hljs-string {
	color: #66ffcc;
}
.my-info span.hljs-string {
	color: #008080;
}
span.hljs-attribute {
	color: #b58900;
}
span.hljs-reserved,
span.hljs-keyword,
span.hljs-literal {
	color: #ff69b4;
}
span.f38 {
	font-size: 38px;
}
span.mright {
	float: right;
}
span.codicil {
	position: absolute;
	bottom: 100px;
	right: 10px;
}
#blur {
	color: #fff;
}
.assert {
	color: #008080;
	font-weight: bold;
}
.sans {
	font-family: Futura,Helvetica,Arial,"Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
}
img.logo {
	position: absolute;
	top: 10px;
	right: 0px;
}