[layout] h1 {
	font-size: 4em;
	margin: 20px 64px 60px;
}
[layout] h2 {
	margin: 0 100px;
}
code {
	font-size: 40px;
}
span {
	line-height: 1.8;
}
#blur {
	color: #fff;
}
.assert {
	color: #008080;
	font-weight: bold;
}
.sans {
	font-family: Futura,Helvetica,Arial,"Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
}