<html>
  <head>
    <meta charset="utf-8">
    <title>Node.jsの基本</title>
    <link rel="stylesheet" href="../../../talkiejs/talkie.min.css">
    <link rel="stylesheet" href="../../../talkiejs/talkie-default.min.css">
    <link rel="stylesheet" href="../../../talkiejs/style.css">
    <link rel="shortcut icon" href="../../../assets/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/monokai.min.css">
  </head>
  <body>
<template layout="cover" type="text/x-markdown">
# Node.jsの基本
### 2017/08/10　@レプラホーン株式会社
</template>

<template class="my-info" layout="cover" type="text/x-markdown">
## 自己紹介

```
var my_info = {
    name:  '桑原聖仁',
    twitter: '@kuwahara_ngv4（たまに変わります）',
    github: 'k-kuwahara',
    qiita:    '@clown0082',
    skill: 'PHP, CodeIgniter, JavaScript, Riot.js, Angular, Ionic',
    workplace:  'Leprachaun Corp.'
}
```
</template>

<section layout="title-invert" type="text/x-markdown">
## Node.jsをまだインストールしていない方はいらっしゃいますか？
　
※この先Node.jsをインストールしていないと先に進めないです…w
</section>

<section layout="title-invert" type="text/x-markdown">
## 　　まだ => [__install_nodejs()__](https://nodejs.org/ja/)
## 入ってる => [__next_page()__](#5)

※windowsの方は、<span class="assert">再起動</span>が必要です。
</section>

<section layout="title-invert" type="text/x-markdown">
### Node.jsのバージョンが`0.x`、`v4`、`v5`の方はいますか？
　
## 最低でも`v6`以上にアップグレードしてください(ﾟ∀ﾟ)
</section>

<section layout="title-invert" type="text/x-markdown">
## これで準備完了です！
</section>

<section layout="bullets" type="text/x-markdown">
## 今回のアジェンダ
- Node.jsのキホンのキ
- http serverを作って起動
- Node.jsのいろいろな機能
- １行掲示板を作成
</section>

<section layout="bullets" type="text/x-markdown">
## 今回のアジェンダ
- __<span class="assert">Node.jsのキホンのキ</span>__　<= まずはココ
- http serverを作って起動
- Node.jsのいろいろな機能
- １行掲示板を作成
</section>

<section layout="bullets" type="text/x-markdown">
## Node.js

大量のリクエストを処理するための仕組みになります。
Apacheなどはスレッドモデル、Node.jsはイベントループという処理形式を利用しています。
（※シングルスレッド形式とも呼ばれる）
</section>

<section layout="bullets" type="text/x-markdown">
## Node.jsで大事なことは<br><span class="assert">ノンブロッキング</span>な書き方です。

※これは後ほど説明します。
</section>

<section layout="bullets" type="text/x-markdown">
## では実際にNode.jsの動かし方を<br>みていきましょう！
</section>

<section layout="code" type="text/x-markdown">
## Node.jsの動かし方

以下のコマンドを実行してください。

```shell
$ node
＞ console.log('Hello Node.js!!')

結果：Hello Node.js!!
```
</section>

<section layout="bullets" type="text/x-markdown">
## これでもいいですが…

* 見通しが悪い
* アプリケーションとしては使えない


</section>

<section layout="bullets" type="text/x-markdown">
## ファイルに書き出して、それをNode.jsで実行していきます。
</section>

<section layout="code" type="text/x-markdown">
### 適当に`.js`ファイルを新規作成し、<br>以下のコードを追記してください。

```js
console.log('Hello Node.js!!')
```

### 完了したら、以下のコマンドを実行してください。

```shell
$ node hoge
```
</section>

<section layout="bullets" type="text/x-markdown">
## 以上が簡単な`Node.js`の<br>動かし方になります。
</section>

<section layout="bullets" type="text/x-markdown">
## 次に`ノンブロッキング`な書き方<br>を説明します。
</section>

<section layout="code" type="text/x-markdown">
## ノンブロッキングな書き方例

```js
setTimeout(() => {
   console.log('Hello ')
}, 1000)
console.log('Node.js!!')
```

このコードも適当な.jsファイルに追記し、<br><strong>処理の結果を予想してから</strong>実行してください。
</section>

<section layout="bullets" type="text/x-markdown">
### おそらく以下の用に出力されたかと思います。

Node.js!!

（1秒後）

Hello

このように、メインの処理をブロックしない（止めない）ことを<br>`ノンブロッキング`と言います。
</section>

<section layout="bullets" type="text/x-markdown">
## いわゆる`非同期処理`ですね（^ω^）
</section>

<section layout="bullets" type="text/x-markdown">
## 以上で「Node.jsのキホンのキ」<br>は終了です。
</section>

<section layout="bullets" type="text/x-markdown">
## 今回のアジェンダ
- Node.jsのキホンのキ
- __<span class="assert">http serverを作って起動</span>__  <= 次はココ
- Node.jsのいろいろな機能
- １行掲示板を作成
</section>

<section layout="bullets" type="text/x-markdown">
### 次に、簡単なhttp serverを作っていきます。

<br>

### `server.js`というファイルを作成し、<br>次のコードを追記してください。
</section>

<section layout="code" type="text/x-markdown">
```js
const http = require('http')
const server = http.createServer()
server.on('request', (req, res) => {
   res.writeHead(200, {'Content-Type': 'text/plain'})
   res.write('Hello Node.js!!')
   res.end()
})
server.listen(1337, 'localhost')
console.log('server listening...')
```
</section>

<section layout="code" type="text/x-markdown">
### 追記できた人は実行してみましょう！

```shell
$ node server
```

### 実行した人はブラウザで`http://localhost:1337`<br>にアクセスしてください。
</section>

<section layout="bullets" type="text/x-markdown">

### 次に、設定情報を外部ファイルに外出します。

<br>

### `settings.js`というファイルを作成して、<br>次のコードを追記してください。
</section>

<section layout="code" type="text/x-markdown">
```js
module.exports = {
   port: 1337,
   host: 'localhost'
}
```
</section>

<section layout="code" type="text/x-markdown">
### 続いて、`server.js`ファイルを以下のように修正してください。

```diff
const http = require('http')
+ const settings = require('./settings')

- server.listen(1337, 'localhost')
+ server.listen(settings.port, settings.host)
```
</section>

<section layout="bullets" type="text/x-markdown">
## 以上で「http serverを作って起動」<br>は終了です。
</section>

<section layout="bullets" type="text/x-markdown">
## 今回のアジェンダ
- Node.jsのキホンのキ
- http serverを作って起動
- __<span class="assert">Node.jsのいろいろな機能</span>__  <= お次はココ
- １行掲示板を作成
</section>

<section layout="bullets" type="text/x-markdown">
### 次に、以下の項目を実践してみましょう！

- URLによって処理を変える
- htmlファイルを読み込む
- `ejs`を使って画面表示
</section>

<section layout="bullets" type="text/x-markdown">
## URLによって処理を変える
</section>

<section layout="bullets" type="text/x-markdown">
### `server.js`ファイルを次のように修正し、再起動してください。
</section>

<section layout="code" type="text/x-markdown">
```diff
- res.write('Hello Node.js!!')
+ res.write('Hello from'+ req.url)
```
</section>

<section layout="bullets" type="text/x-markdown">
### 終わった方は`http://localhost:1337/test.html`<br>にアクセスしてください。

`Hello from/test.html`と表示されているかと思います。
</section>

<section layout="bullets" type="text/x-markdown">
### 次に、アクセスURL毎に処理を変えるため、<br> `server.js`ファイルを次のように修正し、再起動してください。
</section>

<section layout="code" type="text/x-markdown">
```diff
+ switch(req.url) {
+     case '/about':
+        res.write('about page!!')
+        break
+     default:
+        res.write('wrong page!!')
+        break
+ }
- res.write('Hello from'+ req.url)
```
</section>

<section layout="bullets" type="text/x-markdown">
### 終わった方は

- `http://localhost:1337/test.html`
- `http://localhost:1337/about`

### にアクセスしてください。

それぞれ異なる文言が表示されているかと思います。
</section>

<section layout="bullets" type="text/x-markdown">
## htmlファイルを読み込む
</section>

<section layout="bullets" type="text/x-markdown">
### まずは`hello.html`ファイルを作成し<br>`<h1>Hello!!</h1>`と追記してください。
</section>

<section layout="bullets" type="text/x-markdown">
### 次に `server.js`ファイルを次のように修正し<br>再起動してください。

※分かりやすさのため、全てのアクセスで同じものを表示します。
</section>

<section layout="code" type="text/x-markdown">
```diff
- res.writeHead(200, {'Content-Type': 'text/plain'})
- switch(req.url) {
- ...
- }
+ fs.readFile(`${__dirname}/hello.html`, 'utf-8',
+    (err, data) => {
       （続く）
```
</section>

<section layout="code" type="text/x-markdown">
```diff
+    if (err) {
+       res.writeHead(404,{'Content-Type': 'text/plain'})
+       res.write('Not Found!!')
+       return res.end()
+    }
+    res.writeHead(200, {'Content-Type': 'text/html'})
+    res.write(data)
+    res.end()
+ })
- res.end()
```
</section>

<section layout="bullets" type="text/x-markdown">
### 終わった方は

- `http://localhost:1337/about`

### にアクセスしてください。

`Hello!!`と表示されているかと思います。
</section>

<section layout="bullets" type="text/x-markdown">
## `ejs`を使って画面表示
</section>

<section layout="code" type="text/x-markdown">
### まずは`ejs`をnpmからインストールするため<br>以下のコマンドを実行してください。

```shell
$ npm i ejs
```
</section>

<section layout="code" type="text/x-markdown">
### 続いて`hello.html`を以下のように修正してください。

```diff
- <h1>Hello!!</h1>
+ <h1><%= title %></h1>
+ <p><%= content %></p>
+ <p><%= n %> views</p>
```

### 更に、ファイルネームを`.ejs`に変更してください。
</section>

<section layout="code" type="text/x-markdown">
### 続いて`server.js`を以下のように修正してください。

```diff
- fs   = require('fs')
+ fs   = require('fs'),
+ ejs = require('ejs')

+ const template =
+    fs.readFileSync(`${__dirname}/hello.ejs`, 'utf-8')
+ let n = 0
      （続く）
```
</section>

<section layout="code" type="text/x-markdown">
```diff
- fs.readFile(`${__dirname}/hello.html`, 'utf-8',
-    (err, data) => {
-    if (err) {
-       res.writeHead(404,{'Content-Type': 'text/plain'})
-       res.write('Not Found!!')
-       return res.end()
-    }
- })
      （続く）
```
</section>

<section layout="code" type="text/x-markdown">
```diff
+   if (req.url === '/favicon.ico') {
+      return;
+   }
+   n++
+   let data = ejs.render(template, {
+      title: "Hello ",
+      content: "<strong>Node.js!!</strong>",
+      n: n
+   })
```
</section>

<section layout="bullets" type="text/x-markdown">
### 修正が完了したら、再起動・画面にアクセスしてください。

何度か画面リロードをすると、`views`の数字が増えると思います！
</section>

<section layout="bullets" type="text/x-markdown">
## 以上で「Node.jsのいろいろな機能」<br>は終了です。
</section>

<section layout="bullets" type="text/x-markdown">
## 今回のアジェンダ
- Node.jsのキホンのキ
- http serverを作って起動
- Node.jsのいろいろな機能
- __<span class="assert">１行掲示板を作成</span>__ <= 最後にココ
</section>

<section layout="bullets" type="text/x-markdown">
### まずは掲示板用のテンプレートファイルを生成します。

<br>

### `bbs.ejs`を生成し、[こちらのコード](https://gist.github.com/k-kuwahara/341ff8fd28ed8ecd99fb8ce69ba34be4)を追記してください。
</section>

<section layout="bullets" type="text/x-markdown">
### 次に、`server.js`を次のように修正し<br>再起動してください。
</section>

<section layout="code" type="text/x-markdown">
```diff
- ejs = require('ejs')
+ ejs = require('ejs'),
+ qs  = require('querystring')

- const template =
-     fs.readFileSync(`${__dirname}/hello.ejs`, 'utf-8')
+ const template =
+     fs.readFileSync(`${__dirname}/bbs.ejs`, 'utf-8')
      （続く）
```
</section>
<section layout="code" type="text/x-markdown">
```diff
- let n = 0
+ let posts = []

server.on('request', (req, res) => {
+   if (req.method === 'POST') {
+      req.data = ''
+      req.on('readable', () => {
+         req.data += req.read()
+      })
      （続く）
```
</section>

<section layout="code" type="text/x-markdown">
```diff
+      req.on('end', () => {
+         let query = qs.parse(req.data)
+         posts.push(query.name)
+         renderForm(posts, res)
+      })
      （続く）
```
</section>

<section layout="code" type="text/x-markdown">
```diff
-   n++
-   let data = ejs.render(template, {
-      title: "Hello ",
-      content: "<strong>Node.js!!</strong>",
-      n: n
-   })
-   res.writeHead(200, {'Content-Type': 'text/html'})
-   res.write(data)
-   res.end()
      （続く）
```
</section>

<section layout="code" type="text/x-markdown">
```diff
+ function renderForm(posts, res) {
+    let data = ejs.render(template, {
+       posts: posts
+    })
+    res.writeHead(200, {'Content-Type': 'text/html'})
+    res.write(data)
+    res.end()
+ }
      （続く）
```
</section>

<section layout="bullets" type="text/x-markdown">
### 修正が完了したら、再起動・画面にアクセスしてください。

フォームから自由に入力し、ボタンを押下してください。<br>
下に入力内容が列挙されると成功です！
</section>

<section layout="cover" type="text/x-markdown">
# 以上で今回のワークショップは終了です！
</section>

<script layout="cover" type="text/x-markdown">
# 次回は<span class="assert">Socket.ioを用いてリアルタイムwebアプリケーション開発</span>をやります♪
</script>

<script layout="cover" type="text/x-markdown">
# 以上、お疲れ様でした！
</script>


  <script src="../../../talkiejs/talkie.min.js"></script>
  <script src="../../../talkiejs/highlight.min.js"></script>
  <script>
  var talkie = Talkie({wide: true});
  document.addEventListener('DOMContentLoaded', function() {
    var slides = Array.prototype.slice.call(document.querySelectorAll('[layout]'));
    slides.forEach(function(item) {
       if (~item.innerText.indexOf('&gt;')) {
          item.innerHTML = item.innerHTML.replace(/&amp;gt;/gm, '>')
       }
       if (~item.innerText.indexOf('&lt;')) {
          item.innerHTML = item.innerHTML.replace(/&amp;lt;/gm, '<')
       }
    })
    // talkie.changed.onValue(function(current) {
    //   console.clear();
    //   // print presenter notes
    //   console.info(talkie.notes[current.getAttribute('page')]);
    // });
  });
  </script>
  </body>
</html>
