@import "./hamburgers";

/**
 * 共通スタイル
 */
body {
	font-family: sans-serif;
	background-color: #eee;
}
a {
	text-decoration: none;
}
.hide {
	display: none;
}

/**
 * headerスタイル
 */
header {
	@media (max-width: 780px) {

		.hamburger-box {
		}

		#main-logo {
			text-align: center;
			img {
				width: 5rem;
				border-radius: 2.5rem;
			}
		}

		#menu-section {
			text-align: left;
		}
	}
	@media (min-width: 781px) {
		position: fixed;
		left: 0;
		top: 0;
		width: 10rem;
		height: 100%;
		.hamburger {
			display: none;
		}

		#main-logo {
			text-align: center;
			img {
				width: 7rem;
				border-radius: 3.5rem;
			}
		}

		#menu-list {
			display: inline;
		}
	}
	padding: 1.5rem;
	background-color: #2B3A42;
	color: #fff	;
	font-weight: 700;

	h1 {
		text-align: center;
	}


	#menu-section {
		a {
			width: 100%;
			&:hover {
				background-color: #008080;
			}
		}
	}
}

/**
 * mainスタイル
 */
main {
	text-align: center;
	color: #666;
	margin-top: 2rem;

	#container {
		background-color: #fff;
		padding: 2rem;
		border: 1px solid #dedede;
		border-radius: 0.2rem;
		box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
	}
}