/**
 * 共通スタイル
 */
body {
	font-family: sans-serif;
	background-color: #eee;
}
a {
	text-decoration: none;
}
.hide {
	display: none;
}

/**
 * headerスタイル
 */
header {
	.side-nav {
		padding: 1.5rem;
		background-color: #2B3A42;
		color: #fff;
		font-weight: 700;
	}
}

/**
 * mainスタイル
 */
main {
	text-align: center;
	color: #666;
	margin-top: 2rem;

	@media (min-width: 781px) {
		margin-left: 12rem;
	}

	#container {
		background-color: #fff;
		padding: 2rem;
		border: 1px solid #dedede;
		border-radius: 0.2rem;
		box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
	}
}
