@import "./hamburgers";

a {
	text-decoration: none;
}

header {
	@media (max-width: 780px) {
		.hamburger {
		}
	}
	@media (min-width: 781px) {
		position: fixed;
		left: 0;
		top: 0;
		width: 10rem;
		height: 100%;
		.hamburger {
			display: none;
		}
	}
	padding: 2rem;
	background-color: #2B3A42;
	color: #fff	;
	font-weight: 700;

	h1 {
		text-align: center;
	}

	#main-logo {
		text-align: center;
		img {
			width: 7rem;
			border-radius: 3.5rem;
		}
	}

	#menu-section {
		a {
			width: 100%;
			&:hover {
				background-color: #008080;
			}
		}
	}
}