#chart_dest {
    width: 600px !important;
    height: 300px !important;
    margin-left: 600px;
}

#google_charts {
    width: 400px;
    float: left;
}
#google_charts #piechart {
    height: 400px;
}

#c3js {
    width: 400px;
    height: 400px;
    margin-left: 600px;
}
